@model IEnumerable<Ingredient>

    @{
    ViewBag.Title = "Ingredients List";
    }

<h1>Ingredients</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var ingredient in Model)
    {
        <tr>
            <td>@ingredient.Name</td>
            <td>
                    <a asp-action="Details" asp-route-id="@ingredient.IngredientId">Details</a> |
            </td>
        </tr>
    }
    </tbody>
</table>
